{% extends "layout.html" %}

{% block title %} Категория {% endblock %}

{% block body %}
    <h2>Добавление категории</h2>
    <form method="POST" action="{% url "app:category_add" %}">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control{% if errors.name %} is-invalid{% endif %}"
                   name="name"
                   {% if errors.name %} value="{{ name }}" {% endif %}
                   placeholder="Введите название">
            {% if errors.name %}
                <div class="invalid-feedback">{{ errors.name }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <input class="form-control" type="submit" value="Добавить">
        </div>
    </form>
{% endblock %}